
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491715515279'); /* IE9*/
  src: url('iconfont.eot?t=1491715515279#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491715515279') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491715515279') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491715515279#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakanjieyongjilu:before { content: "\e6e3"; }

.icon-computer:before { content: "\e642"; }

.icon-user:before { content: "\e78b"; }

.icon-shebei:before { content: "\e650"; }

